@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("/RefokusClone/fonts/CustomFont.woff2") format("woff2"),
    url("/RefokusClone/fonts/CustomFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
